/* --------------------Banner Left--------------------- */
.login {
  display: flex;
}

/* ------------------------------------------------- */
.formContainer {
  display: flex;
  align-items: center;
}
.mainForm {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin-left: 50px;
}
.mainForm input {
  width: 100%;
  margin-left: 10px;
}
.formTextHeader {
  width: 75%;
  margin-bottom: 30px;
}
.formTextBody {
  margin-bottom: 60px;
}
.formFirstName,
.formLastName,
.formEmail,
.formPassword,
.formEmailRegister,
.formPasswordRegister {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}
/* ----------------------------------------------- */
.formFirstName_input,
.formLastName_input,
.formEmail_input,
.formPassword_input,
.formEmailRegister_input,
.formPasswordRegister_input {
  border-bottom: 2px solid #a9a9a9 !important;
}
.formFirstName_inputed,
.formLastName_inputed,
.formEmail_inputed,
.formPassword_inputed,
.formEmailRegister_inputed,
.formPasswordRegister_inputed {
  border-bottom: 2px solid blue !important;
}
/* ----------------------------------------------- */
.textForgot {
  display: flex;
  justify-content: flex-end;
}
.formEmail {
  margin-bottom: 80px;
}
.formPassword {
  margin-bottom: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  margin-bottom: 40px;
  margin-left: 20px;
}
.buttonContainer button {
  border: 0px;
}
.buttonLogin {
  width: 90%;
  height: 50px;
  background-color: #6379f4;
  color: white;
}
.buttonLogin0 {
  width: 90%;
  height: 50px;
  background-color: #dadada;
}
.fadeIn {
  transition: opacity 1s ease;
}
.fadeOut {
  opacity: 0;
  transition: opacity 1s ease;
}
.error {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}
@media (max-width: 500px) {
  .login {
    display: block;
  }
  .bannerContainer {
    width: 100%;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
}
