.inputContainer input {
  width: 430px;
  height: 30px;
  border: 0px;
  border-bottom: 1.5px solid rgba(169, 169, 169, 0.6);
  padding-left: 30px;

  margin: 30px 0px;
}
.inputContainer input:focus {
  outline: none;
  border-color: blue;
}
.lockIcon {
  position: relative;
  left: 16px;
}
.eyeIcon {
  position: relative;
  right: 20px;
}
