.container {
  height: 1200px;
}

.userProfile {
  flex: 1;
  height: 900px;
  width: 360px;

  background: white;
}
.detailsUser span {
  margin: 5px 0px;
}
.buttonHire {
  height: 50px;
  width: 100%;
  border: 0px;
  color: white;
  background-color: #5e50a1;
  font-weight: 900;
  border-radius: 4px;
}
.skills {
  margin: 20px 0px;
}
.skills span {
  background-color: rgba(251, 176, 23, 0.6);
  margin: 5px 5px;
  color: white;
  padding: 0px 10px;
  border: 1px solid #fbb017;
  border-radius: 4px;
}
.mediaSocial span {
  font-size: 14px;
  line-height: 20px;
  color: #9ea0a5;
  margin: 13px 10px;
}

@media (max-width: 500px) {
  .userProfile {
    margin: auto;
  }
}
